# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=

# postgresql://postgres:QAf9MqzKtURlaXgv@db.mclymqvkyxntyuwklolj.supabase.co:5432/postgres




NEXT_PUBLIC_SUPABASE_URL=https://mclymqvkyxntyuwklolj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1jbHltcXZreXhudHl1d2tsb2xqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc4MDI3OTAsImV4cCI6MjA2MzM3ODc5MH0.OJMaBcz_frrcqkQUGTW2EwyOA_Idaes0ZOjIoX_7zEs
